<div class="mt-4">
    <mat-card>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <mat-form-field>
                <input matInput type="email" placeholder="E-mail" name="email" class="form-control" formControlName="email">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" class="form-control" formControlName="password">
                <mat-error></mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" class="btn btn-primary">Login</button> &nbsp;
            <button mat-raised-button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
        </form>
    </mat-card>
</div>